stages:
  - style
  - test

pre-commit:
  stage: style
  image: ubuntu:24.04
  before_script:
    - apt update; apt install -y git clang-format python3 python3-pip cpplint pre-commit pylint
  script:
    - pre-commit run --all-files
  tags:
    - system-arch

gpu-tests:
  stage: test
  image: nvcr.io/nvidia/pytorch:25.11-py3
  tags:
    - system-arch-gpu
  script:
    - git submodule update --init --recursive
    - cmake -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_BENCHMARKS=OFF
    - cmake --build build -j$(nproc)
    - cd build/bin/test && for t in *; do ./$t; done
